<!doctype html>
<html style="height:100%;min-height:100%;">
  <head>
    <title>Scaffold</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- add the icon -->
    <link rel="icon" href="/static/img/favicon.png">
    <!-- add w3 css -->
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- add jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- add fontawesome -->
    <script src="https://kit.fontawesome.com/239a824854.js" crossorigin="anonymous"></script>
    
    <!-- add custom css -->
    <link rel="stylesheet" type="text/css" href="/static/css/cascade.css">
    <!-- add custom js -->
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/cascade.js"></script>
  </head>
  <body class="light theme-base">
    <div id="status-modal" class="w3-modal" style="z-index:999;">
        <div class="w3-modal-content w3-animate-top w3-card-4 w3-round light theme-light w3-border theme-border-light w3-round">
            <header class="w3-container scaffold-green">
                <span onclick="closeModal('status-modal')" class="w3-button w3-display-topright">&times;</span>
                <h4>System Status</h4>
            </header>
            <div class="w3-container">
                <br>
                <table class="w3-table light w3-border theme-border-light theme-table-striped" id="status-table">
                </table>
                <br>
                <br>
            </div>
        </div>
    </div>
    
    <div id="state-modal" class="w3-modal" style="z-index:996">
        <div class="w3-modal-content w3-animate-top w3-card-4 w3-round light theme-light w3-border theme-border-light w3-round">
            <header class="w3-container" id="cascade-state-header">
                <div class="w3-display-topright">
                    <span onclick="killRun()" class="w3-button light theme-light w3-round" style="margin-top:5px;"><i class="fa-solid fa-stop"></i></span>
                    <span onclick="triggerRun()" class="w3-button light theme-light w3-round" style="margin-top:5px;"><i class="fa-solid fa-play"></i></span>
                    <span onclick="toggleDisable()" class="w3-button light theme-light w3-round" style="margin-top:5px;"><i class="fa-solid fa-toggle-on" id="toggle-icon"></i></span>
                    <span onclick="closeModal('state-modal')" class="w3-button light theme-light w3-round" style="margin-top:5px;margin-right:4px;">&times;</span>
                </div>
                <h4 id="state-name"></h4>
            </header>
            <br>
            <div class="w3-container">
                <div class="w3-border w3-card light theme-light theme-border-light w3-round">
                    <header class="w3-container" id="cascade-status-header">
                        <div class="run-state-div">
                            <span class="light theme-light w3-round run-state-number" id="state-run"></span>
                        </div>
                        <h4>Status</h4>
                    </header>
                    <br>
                    <div class="w3-container">
                        <span id="state-status"></span>
                        <br>
                        <span id="state-started"></span>
                        <br>
                        <span id="state-finished"></span>
                        <br>
                    </div>
                    <br>
                </div>
                <br>
                <div id="state-current-display-div">
                    <div id="state-current-display-data">
                    </div>
                </div>
                <div class="w3-border w3-card light theme-light theme-border-light w3-round">
                    <header class="w3-container" id="cascade-output-header" onclick="toggleAccordion('container-output')">
                        <h4><i class="fa-solid fa-caret-down accordion-icon light theme-text-light" id="container-output-icon"></i><span style="margin-left:16px;">Output</span></h4>
                    </header>
                    <div class="w3-container w3-hide" id="container-output">
                        <br>
                        <pre id="state-output" style="font-family:monospace;overflow-x:scroll;">
                        </pre>
                        <br>
                    </div>
                </div>
                <br>
                <!-- <div class="w3-border w3-card light theme-light theme-border-light w3-round">
                    <header class="w3-container" id="cascade-check-header" onclick="toggleAccordion('container-check')">
                        <div class="run-state-div">
                            <span class="light theme-light w3-round run-state-number" id="check-run"></span>
                        </div>
                        <h4><i class="fa-solid fa-caret-down accordion-icon light theme-text-light" id="container-check-icon"></i><span style="margin-left:16px;">Check</span></h4>
                    </header>
                    <div class="w3-container w3-hide" id="container-check">
                        <br>
                        <pre id="state-check" style="font-family:monospace;overflow-x:scroll;">
                        </pre>
                        <br>
                    </div>
                </div>
                <br>
                <div id="state-check-display-div">
                    <div id="state-check-display-data">
                    </div>
                </div>
                <br>
                <div class="w3-border w3-card light theme-light theme-border-light w3-round">
                    <header class="w3-container" id="cascade-previous-header" onclick="toggleAccordion('container-previous')">
                        <div class="run-state-div">
                            <span class="light theme-light w3-round run-state-number" id="previous-run"></span>
                        </div>
                        <h4><i class="fa-solid fa-caret-down accordion-icon light theme-text-light" id="container-previous-icon"></i><span style="margin-left:16px;">Previous</span></h4>
                    </header>
                    <div class="w3-container w3-hide" id="container-previous">
                        <br>
                        <pre id="state-previous" style="font-family:monospace;overflow-x:scroll;">
                        </pre>
                        <br>
                    </div>
                </div>
                <br>
                <div id="state-previous-display-div">
                    <div id="state-previous-display-data">
                    </div>
                </div>
                <br> -->
                <br>
                <br>
                <div style="position: absolute; bottom: 10px;" id="cascade-top-button" class="w3-button w3-round scaffold-hover-grey scaffold-grey" onclick="goToTop()">
                    Go to Top
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="error-modal" class="w3-modal" style="z-index:1000;">
        <div class="w3-modal-content w3-animate-top w3-card-4 w3-round light theme-light w3-border theme-border-light">
            <header class="w3-container scaffold-red">
                <span onclick="closeModal('error-modal')"
                    class="w3-button w3-display-topright">&times;</span>
                <h4>ERROR</h4>
            </header>
            <div class="w3-container">
                <br>
                <pre style="width:100%;height:400px;overflow-y:auto;" id="error-container">
                </pre>
                <br>
                <br>
                <button class="w3-button scaffold-green w3-round w3-right" onclick="closeModal('error-modal')">Okay</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    
    <div id="success-modal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4 w3-round light theme-light w3-border theme-border-light">
            <header class="w3-container scaffold-green">
                <span onclick="closeModal('success-modal')"
                    class="w3-button w3-display-topright">&times;</span>
                <h4>SUCCESS</h4>
            </header>
            <div class="w3-container">
                <br>
                <pre style="width:100%;height:400px;overflow-y:auto;" id="success-container">
                </pre>
                <br>
                <br>
                <button class="w3-button scaffold-green w3-round w3-right" onclick="closeModal('success-modal')">Okay</button>
                <br>
                <br>
            </div>
        </div>
    </div>
    
    <div class="w3-sidebar w3-bar-block w3-card w3-border light theme-border-light theme-light sidebar" id="sidebar" style="z-index:996;left:-300px;">
        <div class="w3-container w3-border-bottom scaffold-green w3-container sidebar-header">
            <div class="w3-large w3-container w3-cell w3-cell-middle w3-left-align default-cursor sidebar-item">
                <i class="fa-solid fa-bars w3-large" onclick="toggleSidebar()"></i>
            </div>
            <div class="w3-large w3-container w3-cell w3-cell-middle w3-left-align sidebar-item">
                <h3>Scaffold</h3>
            </div>
        </div>
        <a href="/ui/cascades" class="w3-bar-item w3-button light scaffold-hover-green w3-border-bottom theme-border-light">
            <i class="fa-solid fa-code"></i> Cascades
        </a>
        <a href="/ui/files" class="w3-bar-item w3-button light scaffold-hover-green w3-border-bottom theme-border-light">
            <i class="fa-solid fa-file"></i> Files
        </a>
        <a href="/ui/users" class="w3-bar-item w3-button light scaffold-hover-green w3-border-bottom theme-border-light">
            <i class="fa-solid fa-users"></i> Users
        </a>
        {{ if .cascade.Links }}
        <div class="w3-container w3-border-bottom scaffold-green w3-container sidebar-header">
            <div class="w3-large w3-container w3-cell w3-cell-middle w3-left-align sidebar-item">
                <h5>Cascade Links</h5>
            </div>
        </div>
        {{ end }}
        {{ range $key, $value := .cascade.Links }}
            <a href="{{ $value }}" class="w3-bar-item w3-button light scaffold-hover-green w3-border-bottom theme-border-light">
                <i class="fa-solid fa-link"></i> {{ $key }}
            </a>
        {{ end }}
        <div class="w3-border-top theme-border-light w3-container sidebar-copyright" style="position:absolute;bottom:0px;">
            &copy; 2024 John Carter v{{ .version }}
            <i class="fa-solid fa-palette w3-right sidebar-theme scaffold-text-green" onclick="toggleTheme()" id="theme-button"></i>
            <i class="fa-solid fa-circle-question w3-right sidebar-theme scaffold-text-green" onclick="showStatus()" id="status-icon" style="margin-right:8px;"></i>
            <a class="fa-solid fa-book w3-right sidebar-theme scaffold-text-green" href="/swagger/index.html" id="docs-icon" style="margin-right:8px;"></a>
        </div>
    </div>
    
    <div class="main">
      <div class="w3-bar light theme-light w3-card-4 w3-border theme-border-light w3-padding">
          <div class="w3-large light theme-light w3-container w3-cell w3-cell-middle w3-left-align default-cursor breadcrumb" style="display:inline-block;margin-top:10px;">
              <i class="fa-solid fa-bars w3-large" onclick="toggleSidebar()"></i>
          </div>
          <div class="w3-large light theme-light w3-container w3-cell w3-cell-middle w3-right-align breadcrumb" style="display:inline-block;margin-top:10px;">
              <a href="/ui/cascades" class="light theme-text">Cascades</a>
          </div>
          <div class="w3-large light theme-light w3-container w3-cell w3-cell-middle w3-right-align breadcrumb" style="display:inline-block;margin-top:10px;">
              &sol;
          </div>
          <div class="w3-large light theme-light w3-container w3-cell w3-cell-middle w3-right-align breadcrumb" style="display:inline-block;margin-top:10px;">
              <a href="/ui/cascades/{{ .cascade.Name }}" class="light theme-text">{{ .cascade.Name }}</a>
          </div>
          <div class="w3-dropdown-click light theme-light w3-container" style="float:right;margin-right:8px;margin-top:2px;">
              <i class="fa-solid fa-circle-user pointer-cursor w3-xxxlarge light theme-light" onclick="toggleMenu()"></i>
              <div class="w3-dropdown-content w3-bar-block w3-round" style="position:absolute;right:40px;top:56px;background-color: transparent;" id="user-menu">
                  <div class="light theme-light w3-border">
                      <a href="/auth/logout" class="w3-bar-item w3-button light theme-light scaffold-hover-green" style="position:relative;z-index:100">Logout</a>
                  </div>
              </div>
          </div>
          <div class="w3-large light theme-light w3-container w3-cell breadcrumb" style="float:right;margin-top:10px;">
              <span class="light theme-text">{{ .family_name }}, {{ .given_name }}</span>
          </div>
      </div>
      
      <div class="contents w3-container">
        <br>
        <div class="card-container w3-container">
          <div class="w3-current-legend w3-bar-block w3-card w3-border light theme-border-light theme-light current-legend" id="current-legend" style="z-index:996;position:absolute;height:100%;">
              <div class="w3-container w3-border-bottom scaffold-blue w3-container current-legend-header">
                  <div class="w3-large w3-container w3-cell w3-cell-middle w3-right-align default-cursor current-legend-item">
                      <i class="fa-solid fa-bars w3-large" onclick="toggleCurrentLegend()"></i>
                  </div>
                  <div class="w3-large w3-container w3-cell w3-cell-middle w3-right-align current-legend-item">
                      <h3>Cascade Legend</h3>
                  </div>
              </div>
              <div id="current-legend-div">
                  <div class="w3-bar-item light theme-base w3-border-bottom theme-border-light">
                      <b>Nodes</b>
                  </div>
                  <div class="w3-bar-item scaffold-charcoal w3-border-bottom theme-border-light">
                      <span>Not Started</span>
                  </div>
                  <div class="w3-bar-item scaffold-yellow w3-border-bottom theme-border-light">
                      <span>Waiting</span>
                  </div>
                  <div class="w3-bar-item scaffold-blue w3-border-bottom theme-border-light">
                      <span>Running</span>
                  </div>
                  <div class="w3-bar-item scaffold-green w3-border-bottom theme-border-light">
                      <span>Success</span>
                  </div>
                  <div class="w3-bar-item scaffold-red w3-border-bottom theme-border-light">
                      <span>Error</span>
                  </div>
                  <br>
                  <div class="w3-bar-item light theme-base w3-border-bottom theme-border-light">
                      <b>Links</b>
                  </div>
                  <div class="w3-bar-item scaffold-blue w3-border-bottom theme-border-light">
                      <span>Run Always</span>
                  </div>
                  <div class="w3-bar-item scaffold-green w3-border-bottom theme-border-light">
                      <span>Run on Success</span>
                  </div>
                  <div class="w3-bar-item scaffold-red w3-border-bottom theme-border-light">
                      <span>Run on Error</span>
                  </div>
              </div>
          </div>
          
          <div class="w3-current-state w3-bar-block w3-card w3-border light theme-border-light theme-light current-state" id="current-state" style="z-index:996;position:absolute;height:100%;">
              <div class="w3-container w3-border-bottom scaffold-blue w3-container current-state-header">
                  <div class="w3-large w3-container w3-cell w3-cell-middle w3-right-align default-cursor current-state-item">
                      <i class="fa-solid fa-bars w3-large" onclick="toggleCurrentState()"></i>
                  </div>
                  <div class="w3-large w3-container w3-cell w3-cell-middle w3-right-align current-state-item">
                      <h3>Current State</h3>
                  </div>
              </div>
              <div id="current-state-div">
              </div>
          </div>
          
          <div class="w3-current-input w3-bar-block w3-card w3-border light theme-border-light theme-light current-input" id="current-input" style="z-index:996;position:absolute;height:100%;">
              <div class="w3-container w3-border-bottom scaffold-blue w3-container current-input-header">
                  <div class="w3-large w3-container w3-cell w3-cell-middle w3-right-align default-cursor current-input-item">
                      <i class="fa-solid fa-bars w3-large" onclick="toggleCurrentInput()"></i>
                  </div>
                  <div class="w3-large w3-container w3-cell w3-cell-middle w3-right-align current-input-item">
                      <h3>Inputs</h3>
                  </div>
              </div>
              <div id="current-input-div">
              </div>
          </div>
          
          <div class="w3-card-4 w3-round light theme-light w3-border theme-border-light">
              <div class="w3-container scaffold-green w3-round cascade-title">
                  <!--<h4>{{ .cascade.Name }}</h4>-->
                  <input id="search" class="w3-input w3-round search-bar light theme-light" type="text" name="search" placeholder="Search Tasks" style="margin-right:4px;margin-top:8px;margin-bottom:8px;" oninput="render()">
                  <div class="w3-dropdown-hover card-button light theme-light w3-round scaffold-hover-green" id="auto-execute-dropdown" style="margin-right:4px;margin-bottom:9px;">
                  </div>
                  <div id="cascade-legend-button" class="card-button light" style="margin-right:4px;">
                      <span onclick="toggleCurrentLegend()" class="w3-button light theme-light w3-round scaffold-hover-green">Legend&nbsp;<i class="fa-solid fa-circle-info"></i></span>
                  </div>
                  <!-- <div id="cascade-state-button" class="card-button light" style="margin-right:4px;">
                      <span onclick="toggleCurrentState()" class="w3-button light theme-light w3-round scaffold-hover-green">Current State&nbsp;<i class="fa-solid fa-database"></i></span>
                  </div> -->
                  <div id="cascade-input-button" class="card-button light" style="margin-right:4px;">
                      <span onclick="openInput()" class="w3-button light theme-light w3-round scaffold-hover-green">Inputs&nbsp;<i class="fa-solid fa-pencil"></i></span>
                  </div>
              </div>
              <div id="cascade-card" class="light theme-light card-overflow" width="100%" height="1000px">
              </div>
          </div>
          
        </div>
        <br>
      </div>
    </div>
    <div class="full-page darken" id="page-darken" style="opacity:0;"></div>
    <div id="spinner"></div>
  </body>
</html>
