<!doctype html>
<html>
  <head>
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- add the icon -->
    <link rel="icon" href="/static/img/favicon.png">
    <!-- add w3 css -->
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- add jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/forgot_password.css">
	<!-- add custom javascript -->
    <script src="/static/js/forgot_password.js"></script>

	</head>
	<body class="light theme-base w3-container">

	<br>
	<br>
	<div class="modal-content animate w3-border w3-border-black w3-card w3-round light theme-light">
		<div class="w3-container scaffold-green w3-round">
			<div class="w3-center"><h1 class="header-text">Forgot Password</h1></div>
		</div>
		<br>
		<div class="w3-container">
			<p>Don't worry, it happens to the best of us.</p>
		</div>
		<form class="w3-container" action="/auth/reset/request" id="reset_form" method="POST">
			<div class="form-group">
				<label for="email" class="label-text scaffold-text-green">Your email associated with your Scaffold account</label>
				<input type="text" class="form-control w3-round w3-input light theme-light" id="email" name="email" placeholder="email">
			</div>
			<br>
			<br>
			<div>
				<input type="submit" class="w3-button scaffold-green scaffold-hover-light-green w3-round scaffold-diagonal-shadow-grey" value="Request Password Reset">
			</div>
		</form>
		<br>
		<div class="w3-container light theme-light w3-round">
			<p style="float: left;" class="footer-text scaffold-text-green"><b>&copy; 2024 Scaffold</b></p>
			<p style="float: right;" class="footer-text scaffold-text-green"><b>v{{ .version }}</b></p>
		</div>
	</div>

</body>

</html>
