<!doctype html>
<html style="height:100%;min-height:100%;">

<head>
	<title>Scaffold</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- add the icon -->
	<link rel="icon" href="/static/img/favicon.png">
	<!-- add w3 css -->
	<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- add jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- add fontawesome -->
	<script src="https://kit.fontawesome.com/239a824854.js" crossorigin="anonymous"></script>
	
	<!-- add custom css -->
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
	<!-- add custom js -->
	<script src="/static/js/login.js"></script>
</head>

<body class="light theme-base">
	<div class="modal-content light theme-light animate w3-border w3-border-black w3-card w3-round">
		<div class="w3-container scaffold-green w3-round">
			<div class="w3-center">
				<h1 class="header-text"><b>Scaffold</b></h1>
			</div>
		</div>
		<br>
		<form class="w3-container" action="/auth/login" id="login_form" method="POST">
			<div class="form-group">
				<label for="username" class="label-text scaffold-text-green">Username</label>
				<input type="text" class="form-control w3-round w3-input light theme-light" id="username" name="username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="password" class="label-text scaffold-text-green">Password</label>
				<input type="password" class="form-control w3-round w3-input light theme-light" id="password" name="password"
					placeholder="Password">
			</div>
			<br>
			<p class="scaffold-text-red">
				{{ if .ErrorTitle}}
				{{.ErrorTitle}}: {{.ErrorMessage}}
				{{end}}
			</p>
			<br>
			<label class="container scaffold-text-green">Remember Me
				<input type="checkbox" id="remember_me" name="remember_me" >
				<span class="checkmark"></span>
			</label>
			<br>
			<div>
				<button type="submit" class="w3-button scaffold-green w3-round diagonal-shadow-grey"><b>Login</b></button>
				<a href="/ui/forgot_password" style="padding-left:8px;">
					<div class="w3-button light theme-light scaffold-text-green w3-round scaffold-border-grey w3-border"><b>Forgot Password</b></div>
				</a>
			</div>
		</form>
		<br>
		<div class="w3-container scaffold-green w3-round">
			<p style="float: left;" class="footer-text w3-text-white"><b>&copy; 2024 John Carter</b></p>
			<p style="float: right;" class="footer-text w3-text-white"><b>v{{ .version }}</b></p>
		</div>
	</div>

</html>
