<!doctype html>
<html>
  <head>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- add the icon -->
    <link rel="icon" href="/resources/img/favicon.png">
    <!-- add w3 css -->
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- add jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/reset_password.css">
	<!-- add custom javascript -->
    <script src="/static/js/reset_password.js"></script>

	</head>
<body class="light theme-base w3-container">

	<br>
	<br>
	<div class="modal-content animate w3-border w3-border-black w3-card w3-round light theme-light">
		<div class="w3-container scaffold-green w3-round">
			<div class="w3-center"><h1 class="header-text">Reset Password</h1></div>
		</div>
		<br>
		{{ if .InvalidToken}}
			<div class="w3-container">
				<p>Your password reset link is invalid or expired</p>
			</div>
			<br>
			<br>
		{{else}}
			<div class="w3-container">
				<p>Please enter your new password</p>
			</div>
			<div class="w3-container" id="reset_form">
				<div class="form-group">
					<label for="password" class="label-text">New Password</label>
					<input type="password" class="form-control w3-round w3-input light theme-light" id="password" name="password" placeholder="password">
				</div>
				<div class="form-group">
					<label for="confirm_password" class="label-text">Confirm Password</label>
					<input type="password" class="form-control w3-round" id="confirm_password" name="confirm_password" placeholder="confirm_password">
				</div>
				<input type="text" style="display:none;" id="email" name="email" value="{{.Email}}" disabled>
				<br>
				<p class="scaffold-text-red">
					{{ if .ErrorTitle}}
						{{.ErrorTitle}}: {{.ErrorMessage}}
					{{end}}
				</p>
				<br>
				<div>
					<div class="w3-button scaffold-green scaffold-hover-light-green w3-round scaffold-diagonal-shadow-grey" onclick="doReset()">Reset Password</div>
				</div>
			</div>
		{{end}}
		<br>
		<div class="w3-container light theme-light w3-round">
			<p style="float: left;" class="footer-text scaffold-text-green"><b>&copy; 2024 John Carter</b></p>
			<p style="float: right;" class="footer-text scaffold-text-green"><b>v{{ .version }}</b></p>
		</div>
	</div>

</body>

</html>
