<div class="collapse {{ .Classes }}"
{{ if ne .HXSwap "" }}
hx-swap="{{ .HXSwap }}"
{{ end }}
{{ if ne .HXGet "" }}
hx-get="{{ .HXGet }}"
{{ end }}
{{ if ne .HXPost "" }}
hx-post="{{ .HXPost }}"
{{ end }}
{{ if ne .HXPut "" }}
hx-put="{{ .HXPut }}"
{{ end }}
{{ if ne .HXTrigger "" }}
hx-trigger="{{ .HXTrigger }}"
{{ end }}
{{ if ne .HXTarget "" }}
hx-target="{{ .HXTarget }}"
{{ end }}
{{ if ne .Style "" }}
style="{{ .Style }}"
{{ end }}
>
  <input type="checkbox" />
  <div
  class="collapse-title text-xl font-medium {{ .TitleClasses }}"
  {{ if ne .TitleStyle "" }}
  style="{{ .TitleStyle }}"
  {{ end }}
  {{ if ne .TitleID "" }}
  id="{{ .TitleID }}"
  {{ end }}
>{{ .Title }}</div>
  <div class="collapse-content">
    {{ range .Components }}
    {{ .Render }}
    {{ end }}
  </div>
</div>
