dist
src/manager/ui/dist
.python-version
temp
test/\.*\.yaml
src/client/cli
__pycache__
.pytest_cache
ca
docs/build
.vscode
rendered.yaml
cert.crt
cert.key
*.log
bak
tmp
src/manager/page/new
src/manager/scaffold
bower_components
.venv
