.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-256 {
    z-index: 256;
}

.z-512 {
    z-index: 512;
}

.darken {
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 995;
}

.full-page {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.left-slide-in {
    animation-duration: 0.5s;
    animation-name: slide-in-left;
}

.left-slide-out {
    animation-duration: 0.5s;
    animation-name: slide-out-left;
}

@keyframes slide-in-left {
    from {
        left: -300px;
    }

    to {
        left: 0px;
    }
}

@keyframes slide-out-left {
    from {
        left: 0px;
    }

    to {
        left: -300px;
    }
}

.right-slide-in {
    animation-duration: 0.5s;
    animation-name: slide-in-right;
}

.right-slide-out {
    animation-duration: 0.5s;
    animation-name: slide-out-right;
}

@keyframes slide-out-right {
    from {
        left: calc(100% - 300px);
    }

    to {
        left: calc(100%);
    }
}

@keyframes slide-in-right {
    from {
        left: calc(100%);
    }

    to {
        left: calc(100% - 300px);
    }
}

.fade-in {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

.fade-out {
    animation: fadeOut 0.5s;
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    -o-animation: fadeOut 0.5s;
    -ms-animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.dot {
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 46px;
    width: 46px;
}

.header-link {
    text-decoration: none;
}
