.sidebar-item {
    margin-left: 4px;
    padding-left: 0px;
}

.sidebar-end {
    height: 5px;
    width: 100%;
}

.sidebar {
    width:300px;
    display:block;
    left:-300px;
    z-index: 999;
}

.sidebar-header {
    border:4px;
}

.sidebar-copyright {
    position:absolute;
    bottom:0px;
    width:100%;
    border:4px;
}

.sidebar-theme {
    cursor:pointer;
    margin-top:4px;
}
