#spinner {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 998;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #434C5E;
    border-radius: 50%;
    border-top: 16px solid #5E81AC;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* enable loader animation */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
