.table-title {
    text-align: left;
    vertical-align: middle;
    width: 22%;
}

.table-title-text {
    margin-top: 4px;
}

.table-link {
    text-align: center;
    vertical-align: middle;
    width: 12%;
    margin-top: 2px;
}

.table-link-cell {
    position: relative;
}

.table-link-link {
    margin-left: 45%;
}
