<div class="w3-card-4 w3-round light theme-light w3-border theme-border-light">
    <div class="w3-container scaffold-green w3-round user-title">
        <h4>Users</h4>
        <input id="search" class="w3-input w3-round search-bar light theme-light" type="text" name="search" placeholder="Search Users" oninput="render()">
    </div>
    <table class="w3-table light w3-border theme-border-light theme-table-striped" id="users-table">
        <tr>
            <th class="table-title w3-medium scaffold-text-green" onclick="sortTable(0, 'users-table')">
                <span class="table-title-text">Username</span>
            </th>
            <th class="table-title w3-medium scaffold-text-green" onclick="sortTable(1, 'users-table')">
                <span class="table-title-text">Email</span>
            </th>
            <th class="table-title w3-medium scaffold-text-green" onclick="sortTable(2, 'users-table')">
                <span class="table-title-text">Given Name</span>
            </th>
            <th class="table-title w3-medium scaffold-text-green" onclick="sortTable(3, 'users-table')">
                <span class="table-title-text">Family Name</span>
            </th>
            <th class="table-title w3-medium scaffold-text-green">
                <span class="table-title-text">Roles</span>
            </th>
            <th class="table-title w3-medium scaffold-text-green">
                <span class="table-title-text">Groups</span>
            </th>
            <th>
                {{ if .is_admin }}
                <div class="w3-round w3-button scaffold-green" onclick="openModal('users-add-modal')">Create New</div>
                {{ end }}
            </th>
        </tr>
        {{ range .users }}
            <tr id="users-row-{{ .Username }}" class="table-show">
                <td>{{ .Username }}</td>
                <td>{{ .Email }}</td>
                <td>{{ .GivenName }}</td>
                <td>{{ .FamilyName }}</td>
                <td>
                    {{ range .Roles }}
                        <div class="w3-tag w3-round scaffold-green" style="padding:3px">
                        {{ . }}
                        </div>
                    {{ end }}
                </td>
                <td>
                    {{ range .Groups }}
                        <div class="w3-tag w3-round scaffold-green" style="padding:3px">
                        {{ . }}
                        </div>
                    {{ end }}
                </td>
                <td class="table-link-cell">
                    <div id="user-edit-button" class="card-button light" style="margin-right:4px;">
                        <a href="/ui/user/{{ .Username }}" class="table-link-link w3-right-align light theme-text" style="float:right;margin-right:16px;">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    {{ if $.is_admin }}
                    {{ if not (eq .Username $.admin_username)}}
                    <div id="user-delete-button" class="card-button light" style="margin-right:4px;">
                        <i class="fa-solid fa-trash" onclick="openDeleteModal('{{ .Username }}')"></i>
                    </div>
                    {{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </table>
</div>
