<li>
{{ if eq .IsFirst false }}
<hr class="{{ .LineColor }}" />
{{ end }}
<div class="timeline-middle">
    <i 
    class="{{ .IconClasses }}"
    {{ if ne .IconStyle "" }}
    style="{{ .IconStyle }}"
    {{ end }}
    ></i>
</div>
<div class="timeline-end timeline-box {{ .BoxClasses }}"
{{ if ne .HXSwap "" }}
hx-swap="{{ .HXSwap }}"
{{ end }}
{{ if ne .HXGet "" }}
hx-get="{{ .HXGet }}"
{{ end }}
{{ if ne .HXPost "" }}
hx-post="{{ .HXPost }}"
{{ end }}
{{ if ne .HXPut "" }}
hx-put="{{ .HXPut }}"
{{ end }}
{{ if ne .HXTrigger "" }}
hx-trigger="{{ .HXTrigger }}"
{{ end }}
{{ if ne .HXTarget "" }}
hx-target="{{ .HXTarget }}"
{{ end }}
{{ if ne .BoxStyle "" }}
style="{{ .BoxStyle }}"
{{ end }}
>
{{ .BoxContents }}
</div>
{{ if eq .IsLast false }}
<hr class="{{ .LineColor }}" />
{{ end }}
</li>
