<ul
{{ if ne .ID "" }}
id="{{ .ID }}"
{{ end }}
class="timeline {{ .Classes }}"
{{ if ne .HXSwap "" }}
hx-swap="{{ .HXSwap }}"
{{ end }}
{{ if ne .HXGet "" }}
hx-get="{{ .HXGet }}"
{{ end }}
{{ if ne .HXPost "" }}
hx-post="{{ .HXPost }}"
{{ end }}
{{ if ne .HXPut "" }}
hx-put="{{ .HXPut }}"
{{ end }}
{{ if ne .HXTrigger "" }}
hx-trigger="{{ .HXTrigger }}"
{{ end }}
{{ if ne .HXTarget "" }}
hx-target="{{ .HXTarget }}"
{{ end }}
{{ if ne .Style "" }}
style="{{ .Style }}"
{{ end }}
>
  {{ range .Items }}
  {{ .Render }}
  {{ end }}
</ul>
