/* global appearance settings */
a {
    text-decoration: none;
}

a:visited
{ 
    text-decoration: none !important;
}

.default-cursor {
    cursor:default;
}

.pointer-cursor {
    cursor:pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.scaffoldTag{
    --tag-bg: #a3be8c;
    --tag-text-color: #ffffff;
    --tags-disabled-bg: #373f51;
}

.scaffoldTag .tagify__tag > div{
    border-radius: 4px;
}

.scaffoldReadOnlyTag{
    --tag-bg: #a3be8c;
    --tag-text-color: #000000;
    --tags-disabled-bg: #373f51;
}

.scaffoldReadOnlyTag .tagify__tag > div{
    border-radius: 4px;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
