/* SHADOW STYLING */

/* shadows */
.shadow {box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
.vertical-shadow {box-shadow: 0px 2px #444444;}
.horizontal-shadow {box-shadow: 2px 0px #2E3440;}
.diagonal-shadow {box-shadow: 2px 2px #444444;}
.vertical-shadow-grey {box-shadow: 0px 2px #aaaaaa;}
.horizontal-shadow-grey {box-shadow: 2px 0px #aaaaaa;}
.diagonal-shadow-grey {box-shadow: 2px 2px #aaaaaa;}