<div class="overflow-x-auto">
    <table
    {{ if ne .ID "" }}
    id="{{ .ID }}"
    {{ end }}
    class="table {{ .Classes }}"
    {{ if ne .HXSwap "" }}
    hx-swap="{{ .HXSwap }}"
    {{ end }}
    {{ if ne .HXGet "" }}
    hx-get="{{ .HXGet }}"
    {{ end }}
    {{ if ne .HXPost "" }}
    hx-post="{{ .HXPost }}"
    {{ end }}
    {{ if ne .HXPut "" }}
    hx-put="{{ .HXPut }}"
    {{ end }}
    {{ if ne .HXTrigger "" }}
    hx-trigger="{{ .HXTrigger }}"
    {{ end }}
    {{ if ne .HXTarget "" }}
    hx-target="{{ .HXTarget }}"
    {{ end }}
    {{ if ne .Style "" }}
    style="{{ .Style }}"
    {{ end }}
    >
        <thead>
            <tr class="{{ .HeaderClasses }}"
            {{ if ne .HeaderStyle "" }}
            style="{{ .Style }}"
            {{ end }}>
                {{ range .Headers }}
                <th>{{ .Render }}</th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ range .Rows }}
            <tr>
                {{ range . }}
                <th>{{ .Render }}</th>
                {{ end }}
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
