/* import material.css */
/* import scaffold.css */
/* import current-state.css */
/* import dark.css */
/* import light.css */
/* import layout.css */
/* import table.css */
/* import search-bar.css */
/* import appearance.css */
/* import arrows.css */

.cascade-title {
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
}

.cascade-tag {
    padding-left: 5px;
}

.current-state-item {
    margin-left: 4px;
    padding-left: 0px;
}

.current-state-end {
    height: 5px;
    width: 100%;
}

.current-state {
    width:500px;
    display:block;
    left: 100%;
    z-index: 999;
}

.current-state-header {
    border:4px;
}

.current-state-theme {
    cursor:pointer;
    margin-top:4px;
}

.current-input-item {
    margin-left: 4px;
    padding-left: 0px;
}

.current-input-end {
    height: 5px;
    width: 100%;
}

.current-input {
    width:500px;
    display:block;
    left: 100%;
    z-index: 999;
}

.current-input-header {
    border:4px;
}

.current-input-theme {
    cursor:pointer;
    margin-top:4px;
}

.run-state-number {
    margin-top: 5px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    white-space: nowrap;
}

.run-state-div {
    position: absolute;
    width: auto;
    right: 20px;
    display: inline;
}
