/* import material.css */
/* import scaffold.css */
/* import sidebar.css */
/* import dark.css */
/* import light.css */
/* import layout.css */
/* import appearance.css */
/* import spinner.css */
/* import dropdown.css */

.user-title {
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
    width: 100%;
}

.user-card {
    padding-left: 20px;
    padding-right: 20px;
}

.name-field {
    width:50%;
    position:relative;
    left:-10px;
    background: transparent;
}

.search-bar {
    width:80%;
    margin-left:5%;
    float:right;
}

.user-tag {
    padding-left: 5px;
}

.user-ul {
    width:100%;
}

.user-li {
    display: flex;
    width: 100%;
}

