/* import material.css */
/* import scaffold.css */
/* import sidebar.css */
/* import dark.css */
/* import light.css */
/* import layout.css */
/* import table.css */
/* import search-bar.css */
/* import appearance.css */

.webhook-title {
    display:flex;
    padding-top:5px;
    padding-bottom:5px;
}

.webhook-tag {
    padding-left: 5px;
}

.tag-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tag {
    margin-right: 10px;
}
